* {
  margin: 0;
  padding: 0;
}

.GREETING,
.SERVICE {
  margin: 60px;
  display: flex;
  justify-content: space-between;
}

.GREETING p {
  font-size: 15px;
  width: 50%;
}

.GREETING h2,
.GREETING h2,
.SERVICE_text,
.SERVICE_img {
  width: 50%;
}

.GREETING h2 span,
.SERVICE h2 span {
  display: block;
}

.SERVICE_button {
  font-weight: bold;
  text-align: end;
}

.SERVICE a {
  text-decoration: none;
  color: black;
}

.SERVICE p {
  margin: 30px auto; 
  padding: 40px auto;
}

.SERVICE_img {
  margin: auto 30px;
}

header {
  height: 200px;
  background-color: #BAD3FF ;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

header li {
  list-style: none;
  margin: 20px;
}

header ul {
  display: flex;
  
}

header li a {
  color: #ffffff;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}

header h1 a {
  font-size: 40px;
  color: #0000CC;
  text-decoration: none;
  font-weight: bold;
}

header h1 a:hover {
  color: #4689FF;
}

header li:nth-child(1) {
  text-decoration: underline;
  color: #ffffff;
}

.title {
  color: #ffffff;
  position: absolute;
  top: 120px;
}