* {
  margin: 0;
  padding: 0;
}

header {
  height: 300px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #87CEEB;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: #191970;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover {
  color: #333399;
}

.p {
  position: absolute;
  top: 170px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin-top: 10px;
}

header li a {
  justify-content: space-between;
  margin: 30px;
  text-decoration: none;
  color: #ffffff;
}


header li:nth-child(1) {
  text-decoration: underline;
  color: #ffffff;
}

.greeting {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 30px 20px;
}

.greeting h2 span,
.service h2 span {
  display: block;
  font-size: 15px;
}

.service {
  display: flex;
  margin: 50px 20px 20px 20px;
}


.service_text,
.service img {
  width: 50%;
}

.service_text p {
  margin: 30px 20px 40px 20px;
}

.service_button {
  text-align: end;
  margin-right: 10px;
}

.service_button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}

.content hr {
  margin: 10px;
}

.content1 {
  margin-left: 20px;
}

.content4 {
  margin-right: 20px;
}